# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Scenes.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\matth\Documents\Unity Projects\StringAvoiderURP\Assets\Scenes\.idea\.idea.Scenes.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
