# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.StringAvoiderURP.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\matth\Documents\Unity Projects\StringAvoiderURP\.idea\.idea.StringAvoiderURP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
